.contact {
  padding-top: 80px;
  padding-bottom: 50px;
}

.contact__lead {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.contact__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.contact__form-label-text {
  position: absolute;
  top: 33px;
  left: 0;

  font-size: 16px;
  line-height: 28px;
  color: $text-neutral;
  transition-duration: 300ms;
  cursor: text;
}

.contact__form-label-invalid {
  position: absolute;
  left: 0;
  bottom: -22px;
  display: block;
  font-size: 12px;
  line-height: 28px;
  color: $text-invalid;
}

.contact__form-input {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: none;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  text-overflow: ellipsis;
  resize: vertical;
  outline: none;
  box-shadow: 0 2px 0 -1px $border-basic;
  transition-duration: 100ms;

  &::placeholder {
    color: transparent;
  }

  &--invalid {
    box-shadow: 0 2px 0 -1px $text-invalid;
  }
}

.contact__form-input:focus {
  box-shadow: 0 3px 0 -1px $text-accent;
}

.contact__form-input:focus ~ .contact__form-label-text,
.contact__form-input:not(:placeholder-shown) ~ .contact__form-label-text {
  top: 10px;

  font-size: 12px;
  line-height: 28px;
  font-weight: 600;
  color: $text-accent;
}

.contact__form-label {
  position: relative;
  display: block;
  padding-top: 30px;
}

.contact__form-submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 45px;
}

.contact__form-consent {
  order: 1;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.contact__form-submitted {
  display: none;
}

.contact__form-submit {
  margin-bottom: 20px;
  padding: 14px 15px 16px 15px;
  width: 210px;
  border: 1px solid $text-accent;
  border-radius: 100px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  color: $text-contrast;
  background-color: $text-accent;

  &:hover,
  &:focus {
    border-color: $border-basic;
    background-color: $border-basic;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active {
    background-color: $text-accent;
  }

  &--success {
    background-color: $background-basic;
    color: $text-basic;

    &:hover,
    &:focus {
      border-color: $text-accent;
      background-color: $background-basic;
    }

    &:active {
      background-color: $background-basic;
    }
  }
}

.contact__contacts-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 600;
  color: $text-basic;
  text-align: center;
  text-decoration: none;
}

.contact__contacts-description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact__contacts-description-line {
  white-space: nowrap;
}

@media (min-width: $tablet-width) {
  .contact {
    padding-top: 0;
  }

  .contact__wrapper {
    display: flex;
  }

  .contact__lead {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 38px;
  }

  .contact__text {
    margin-bottom: 60px;
  }

  .contact__form {
    flex: 0 0 calc(50% - 15px);
    margin-right: 80px;
  }

  .contact__form-input {
    font-size: 18px;

    &--width-small {
      max-width: 320px;
    }
  }

  .contact__form-label {
    padding-top: 32px;
  }

  .contact__form-input:focus ~ .contact__form-label-text,
  .contact__form-input:not(:placeholder-shown) ~ .contact__form-label-text {
    top: 12px;
  }

  .contact__form-label-text {
    font-size: 18px;
  }

  .contact__form-label-invalid {
    bottom: -24px;
    font-size: 14px;
  }

  .contact__form-submit-wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 55px;
    padding-left: 0;
  }

  .contact__form-consent {
    order: 0;
    margin-right: 30px;
    max-width: 200px;
    text-align: left;
  }

  .contact__form-submit {
    margin-bottom: 0;

    &--success ~ .contact__form-submitted {
      display: block;
      position: absolute;
      right: 30px;
      bottom: 0;
      max-width: 150px;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
    }
  }

  .contact__contacts {
    padding-top: 35px;
  }

  .contact__contacts-link {
    justify-content: flex-start;
    font-size: 40px;
    line-height: 54px;
    text-align: left;

    &--font-small {
      font-size: 30px;
      line-height: 41px;
    }
  }

  .contact__contacts-description {
    line-height: 28px;
    margin-bottom: 45px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .contact__form {
    flex: 0 0 calc(50% - 85px);
    margin-right: 170px;
  }

  .contact__contacts-link {
    font-size: 50px;
    line-height: 68px;

    &--font-small {
      font-size: 35px;
      line-height: 48px;
    }
  }

  .contact__contacts-description {
    font-size: 18px;
  }
}
