.footer {
  width: 100%;
  max-width: 400px;
  padding: 35px 36px 55px 36px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__nav-list {
  @include reset-list;

  padding-left: 50px;
  margin-bottom: 35px;
}

.footer__nav-item {
  margin-bottom: 5px;
}

.footer__nav-link {
  font-size: 16px;
  line-height: 28px;
  color: $text-basic;
  text-decoration: none;
  outline-offset: 4px;
}

.footer__social-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-right: -14px;
  margin-bottom: -14px;
}

.footer__social-item {
  margin-right: 14px;
  margin-bottom: 14px;
}

.footer__social-link {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  outline-offset: 4px;

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--instagram {
    background-image: url("../img/icon-instagram.svg");
  }
}


@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $tablet-width-container;
    padding: 40px 32px;
  }

  .footer__logo {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .footer__nav-list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-left: 0;
  }

  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 0;

    &:nth-child(2n) {
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    max-width: $desktop-width-container;
    padding: 40px 120px;
  }

  .footer__nav-list {
    column-gap: 40px;
  }
}
