.header {
  // overflow-x: hidden;
}

.header__top-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.header__logo {
  margin-right: 70px;
}

.header__nav-underlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $background-underlay;
}

.header__nav {
  flex-direction: column;
  align-items: center;
}

.header__nav-toggle {
  position: absolute;
  top: 20px;
  right: 6px;

  width: 40px;
  height: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-menu-burger.svg");
  border: none;
  outline-offset: 4px;
  transition-duration: 200ms;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $text-basic;
  }
}

.header__nav-list {
  @include reset-list;

  display: none;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.header__nav-item {
  border-bottom: 1px solid $border-dim;
}

.header__nav-item:last-child {
  border-bottom: none;
}

.header__nav-link {
  display: block;
  padding: 16px 15px;
  color: $text-basic;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  outline-offset: 4px;
}

.header__nav-wrapper--opened {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  .header__nav-underlay {
    display: block;
  }

  .header__nav {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    width: clamp(300px, 80%, 450px);
    min-height: 320px;
    padding: 5px 25px 40px 25px;
    background-color: $background-basic;
    border-bottom-left-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -100%;
      width: 105%;
      height: 100%;

      background-color: $background-basic;
    }
  }

  .header__nav-toggle {
    background-image: url("../img/icon-menu-cross.svg");
  }

  .header__nav-list {
    display: flex;
  }
}

.header__nav-wrapper--no-js {
  flex: 1 0 100%;
  padding-top: 10px;

  .header__nav {
    display: flex;
  }

  .header__nav-toggle {
    display: none;
  }

  .header__nav-list {
    display: flex;
  }
}

.header__image-wrapper {
  position: relative;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    bottom: -105px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: center;
    background-image: url("../img/header-background-mobile.svg");
  }
}

.header__image {
  display: none;
  position: relative;
}

.header__region-wrapper {
  position: relative;
}

.header__region-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  max-width: 360px;
}

.header__region-item {
  flex: 0 0 21%;
  margin-bottom: 15px;
}

.header__region-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: $text-basic;
  text-decoration: none;
  text-align: center;

  &::before {
    content: "";
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
    border: 4px solid $background-basic;
    border-radius: 50%;
    background-color: $background-basic;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: $shadow-region-link;
  }

  &:hover::before,
  &:focus::before {
    border: 4px solid $border-basic;
  }

  &--face::before {
    background-size: 37px 43px;
    background-image: url("../img/icon-face.svg");
  }

  &--breasts::before {
    background-size: 38px 46px;
    background-image: url("../img/icon-breasts.svg");
  }

  &--upperbody::before {
    background-size: 39px 45px;
    background-image: url("../img/icon-upperbody.svg");
  }

  &--lowerbody::before {
    background-size: 38px 45px;
    background-image: url("../img/icon-lowerbody.svg");
  }
}

.header--index {
  .header__image-wrapper {
    position: relative;
    min-height: 165px;
    padding-left: 60%;
    margin-right: -20px;

    &::before {
      bottom: 0;
      left: calc(50% - 10px);
      width: 100vw;
      min-width: 320px;
      height: 100px;
      background-repeat:
        no-repeat,
        no-repeat;
      background-size:
        900px,
        900px;
      background-position:
        right 15vw bottom,
        left 75vw bottom -20px;
      background-image:
        url("../img/index-header-background-mobile.svg"),
        url("../img/index-header-background-mobile.svg");
    }
  }

  .header__image {
    display: block;
    height: 325px;
    object-fit: cover;
    object-position: left center;
  }

  .header__region-wrapper {
    margin-top: -150px;
    padding: 20px 0;
  }

  .header__region-text {
    margin-top: 0;
    margin-bottom: 30px;
    width: 55%;
    min-width: 220px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    overflow-x: hidden;
  }

  .header__top-wrapper {
    margin-bottom: 0;
  }

  .header__logo {
    margin-right: 25px;
  }

  .header__nav-wrapper {
    margin-right: 0;
    margin-left: 0;
  }

  .header__nav-wrapper--no-js {
    padding-top: 0;
    flex: 0 0 auto;
  }

  .header__nav-toggle {
    display: none;
  }

  .header__nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -5px;
  }

  .header__nav-item {
    margin-right: 5px;
    border-bottom: none;
  }

  .header__nav-link {
    padding: 10px 5px;
    font-size: 16px;
  }

  .header__nav-wrapper--opened {
    position: static;

    .header__nav-underlay {
      display: none;
    }

    .header__nav {
      position: static;

      display: block;
      width: auto;
      min-height: auto;
      padding: 0;
      background-color: $background-basic;
      border-bottom-left-radius: 0;

      &::before {
        display: none;
      }
    }

    .header__nav-toggle {
      background-image: url("../img/icon-menu-cross.svg");
    }

    .header__nav-list {
      display: flex;
    }
  }

  .header__image-wrapper {
    min-height: 20px;
    margin-top: -20px;

    &::before {
      bottom: -10px;
      height: 144px;
      background-size: 1920px;
      background-image: url("../img/header-background.svg");
    }
  }

  .header__image {
    display: block;
    width: 306px;
    height: 280px;
    margin-left: auto;
  }

  .header__region-wrapper {
    padding-bottom: 40px;
    margin-top: -130px;
  }

  .header__region-list {
    max-width: 460px;
  }

  .header__region-link {
    font-size: 16px;
    line-height: 28px;

    &::before {
      content: "";
      width: 90px;
      height: 90px;
      margin-bottom: 12px;
      box-shadow: $shadow-region-link;
    }


    &--face::before {
      background-size: 41px 51px;
    }

    &--breasts::before {
      background-size: 46px 55px;
    }

    &--upperbody::before {
      background-size: 47px 55px;
    }

    &--lowerbody::before {
      background-size: 46px 54px;
    }
  }

  .header--index {
    .header__image-wrapper {
      padding-left: 0;
      margin-right: -60px;

      &::before,
      &::after {
        display: none;
      }
    }

    .header__image {
      height: 579px;
      width: auto;
      object-fit: contain;
      margin-left: auto;
    }

    .header__region-wrapper {
      margin-top: -290px;
      padding-bottom: 80px;
    }

    .header__region-text {
      margin-bottom: 15px;
      font-size: 28px;
      line-height: 56px;
    }

    .header__region-list {
      max-width: 530px;
    }

    .header__region-link {
      font-size: 18px;

      &::before {
        width: 115px;
        height: 115px;
        margin-bottom: 15px;
      }

      &--face {
        margin-top: 16px;

        &::before {
          background-size: 57px 68px;
        }
      }

      &--breasts::before {
        background-size: 57px 69px;
      }

      &--upperbody {
        margin-top: 13px;

        &::before {
          background-size: 58px 68px;
        }
      }

      &--lowerbody {
        margin-top: 28px;

        &::before {
          background-size: 58px 68px;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .header__image-wrapper {
    margin-top: -90px;
  }

  .header__image {
    margin-right: 80px;
  }

  .header__region-wrapper {
    margin-top: -130px;
  }

  .header--index {
    .header__image {
      height: 670px;
    }

    .header__region-wrapper {
      margin-top: -330px;
    }

    .header__region-text {
      margin-bottom: 30px;
      font-size: 33px;
      line-height: 56px;
    }

    .header__region-list {
      max-width: 632px;
    }
  }
}

@media (min-width: $tv-width) {
  .header__image-wrapper::before {
    bottom: -25px;
    height: 180px;
    background-size: 2560px;
    background-image: url("../img/header-background-tv.svg");
  }

  .header__image {
    margin-right: 60px;
  }
}
