.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  align-items: center;
  color: $text-basic;
  text-decoration: none;
  outline-offset: 4px;
}

.logo__image {
  grid-row: 1 / -1;
  width: 34px;
  height: 40px;
}

.logo__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.logo__text {
  display: none;
  font-size: 15px;
  line-height: 20px;
}

.logo--extended {
  grid-template-rows: 1fr 1fr;

  .logo__text {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    grid-column-gap: 20px;
    padding-right: 0;
  }

  .logo__image {
    width: 43px;
    height: 50px;
  }

  .logo__name {
    font-size: 22px;
  }

  .logo__text {
    font-size: 17px;
  }
}
