.main {
  padding-top: 10px;
  overflow-x: hidden;
}

.about {
  padding-bottom: 20px;
}

.about__wrapper {
  position: relative;
  min-height: 142px;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 142px;

  &--out-of-view {
    left: -60px;
  }
}

.about__text {
  margin: 0;
}

.about__text-lead {
  display: block;
  min-height: 140px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 145px;
  font-size: 18px;
  line-height: 25px;

  &--padding-sm {
    padding-top: 30px;
  }

  &--no-image {
    min-height: auto;
    margin-bottom: 10px;
    padding: 0;
  }
}

.about__text-accent {
  color: $text-accent;
}

.about__text-description {
  display: block;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
}
