.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__svg-wrapper {
  display: none;
}

.page__header {
  flex: 1 0 auto;
}

.page__footer {
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .page--index {
    position: relative;
    overflow-x: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: top 480px left calc(50% - 115px);
      background-size: 1523px;
      background-image: url("../img/main-index-background-gradient.svg");
    }

    &::after {
      background-repeat: no-repeat;
      background-position: top 545px left calc(50% + 950px);
      background-size: 945px;
      background-image: url("../img/main-index-background-tail.svg");
    }

    .page__header,
    .page__footer {
      position: relative;
      z-index: 1;
    }
  }

  .page__svg-wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .page__svg {
    position: absolute;
    top: 480px;
    left: calc(50% - 120px);
    width: 1523px;
    transform: translateX(-50%);
  }
}
