.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  flex: 1 0 auto;
}

.page__footer {
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .page__body--index {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: top 480px left calc(50% - 115px);
      background-size: 1523px;
      background-image: url("../img/main-index-background-gradient.svg");
    }

    &::after {
      background-repeat:
        no-repeat,
        no-repeat;
      background-position:
        top 480px left calc(50% - 115px),
        top 545px left calc(50% + 950px);
      background-size:
        1523px,
        945px;
      background-image:
        url("../img/main-index-background-line.svg"),
        url("../img/main-index-background-tail.svg");
    }

    .page__header,
    .page__footer {
      position: relative;
      z-index: 1;
    }
  }
}
