.procedure {
  padding-bottom: 40px;
}

.procedure__nav {
  margin-bottom: 40px;
}

.procedure__nav-lead {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
}

.procedure__nav-list-wrapper {
  position: relative;
  min-height: 47px;
}

.procedure__nav-list {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  left: -20px;

  @include reset-list;
  padding: 0 20px;
  font-size: 0;
  overflow-x: auto;
  white-space: nowrap;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.procedure__nav-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.procedure__nav-link {
  display: block;
  padding: 8px 30px 9px 30px;
  border: 1px solid $border-basic;
  border-radius: 100em;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $text-basic;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: $text-basic;
    border-color: $border-basic;
    background-color: $border-basic;
  }

  &--current {
    color: $text-contrast;
    background-color: $text-accent;
    border-color: $text-accent;

    &:hover,
    &:focus {
      color: $text-contrast;
      background-color: $text-accent;
      border-color: $text-accent;
    }
  }
}

.procedure__price {
  min-height: 900px;
}

.procedure__section {
  display: none;

  &--current {
    display: block;
  }
}

.procedure__section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.procedure__lead {
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0 60px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}

.procedure__type-section {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.procedure__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  color: $text-accent;
}

.procedure__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.procedure__row {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid $border-dim;

  &:last-child {
    border-bottom: none;
  }
}

.procedure__data {
  display: block;
  margin-bottom: 5px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.procedure--no-js {
  .procedure__section {
    display: block;
  }

  .procedure__section-title {
    position: static;
    width: auto;
    height: auto;

    border: 0;

    clip: auto;
    overflow: auto;
    margin: 0 0 20px 0;
    padding-top: 20px;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .procedure {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .procedure__nav {
    margin-right: 40px;
    flex: 0 0 340px;
  }

  .procedure__nav-lead {
    font-size: 25px;
    margin-bottom: 35px;
  }

  .procedure__nav-list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -15px;
    padding: 0;
    white-space: normal;
  }

  .procedure__nav-item {
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .procedure__price {
    flex: 1 1 auto;
    padding-top: 6px;
    min-height: 600px;
  }

  .procedure__lead {
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }

  .procedure__link {
    font-size: 18px;
  }

  .procedure__type-section {
    margin-bottom: 35px;
  }

  .procedure__type {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .procedure__table {
    font-size: 18px;
  }

  .procedure__row {
    display: flex;
    justify-content: space-between;
  }

  .procedure__data {
    margin-right: 20px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
      white-space: nowrap;
    }
  }

  .procedure--no-js {
    .procedure__section-title {
      text-align: left;
    }
  }
}

@media (min-width: $desktop-width) {
  .procedure__price {
    min-height: 580px;
  }

  .procedure__nav {
    margin-right: 76px;
  }
}
