.result {
  position: relative;
  padding-top: 40px;
}

.result__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
}

.result__swipe-wrapper {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
}

.result__swipe {
  display: block;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  outline-offset: 4px;
  transition-property: transform box-shadow;
  transition-timing-function: ease-in;
  transition-duration: 100ms;
  cursor: pointer;
  user-select: none;

  &--prev {
    background-image: url("../img/icon-swipe-prev.svg");
  }

  &--next {
    background-image: url("../img/icon-swipe-next.svg");
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: $shadow-region-link-hover;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active {
    transform: scale(1);
    box-shadow: none;
  }
}

.result__list {
  @include reset-list;
}

.result__item {
  display: none;
  flex-direction: column-reverse;

  &--current {
    display: flex;
  }
}

.result__text {
  margin: 0 auto;
  max-width: 800px;
}

.result__paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.result__gallery {
  margin-bottom: 20px;
}

.result__gallery-list {
  @include reset-list;
  margin-bottom: 5px;
  pointer-events: none;
}

.result__gallery-item {
  display: none;

  &--current {
    display: block;
  }
}

.result__gallery-link {
  position: relative;
  display: block;
  padding-top: 56.25%;
  overflow: hidden;
  user-select: none;
}

.result__gallery-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;

  & img {
    display: block;
  }
}

.result__pagination-list {
  @include reset-list;
  position: relative;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  touch-action: none;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.result__pagination-item {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 20%;

  &:last-child {
    margin-right: 0;
  }

  &--current {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: $background-basic;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}


.result__pagination-button {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 56.25%;
  border-radius: 0;
  border: none;
  background-color: wheat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  user-select: none;
}

.result__pagination-item-underline {
  display: none;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 3px;
  background-color: $text-accent;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in;

  &--current {
    display: block;
  }
}

.result--no-js {
  .result__swipe {
    display: none;
  }

  .result__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .result__gallery-list {
    margin-bottom: 20px;
  }

  .result__gallery-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .result__pagination-list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .result {
    padding-top: 70px;
    padding-right: 90px;
    padding-bottom: 160px;
    padding-left: 90px;
  }

  .result__list {
    transition-property: margin;
    transition-duration: 300ms;
  }

  .result__title {
    text-align: left;
  }

  .result__underlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $background-popup-underlay;
  }

  .result__popup {
    width: 100%;
  }

  .result__swipe-wrapper {
    top: 240px;
    transition-property: left, right;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
  }

  .result__item {
    flex-direction: row;
  }

  .result__text {
    margin: 0;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(1, 0, 1, 0.3);
    transition-duration: 400ms;
  }

  .result__gallery {
    flex: 0 0 56%;
    order: -1;
    margin-right: 30px;
    margin-bottom: 0;
    transition-property: flex;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
  }

  .result__gallery-list {
    pointer-events: all;
  }

  .result--no-js {
    .result__item {
      display: flex;
      flex-direction: row-reverse;
    }

    .result__gallery {
      flex: 0 0 340px;
      margin-right: 40px;
    }
  }

  .result--popup-open {
    z-index: 1;

    .result__popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      max-width: 1200px;
      transition-property: width;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.35, 0.48, 0.58, 0.89);
    }

    .result__swipe-wrapper {
      top: 50%;
      right: -15%;
      left: -15%;
      transform: translateY(-50%);
      padding: 20px;
    }

    .result__swipe {
      filter: saturate(0);
    }

    .result__list {
      margin-bottom: -60px;
      width: 100%;
    }

    .result__text {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
      opacity: 0;
    }

    .result__gallery {
      flex: 0 0 100%;
      margin-right: 0;
    }

    .result__gallery-list {
      transition-timing-function: ease-in;
      pointer-events: none;
    }

    .result__pagination-item {
      width: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .result__swipe-wrapper {
    top: 270px;
  }

  .result--no-js {
    .result__gallery {
      margin-right: 76px;
    }
  }
}
