.results {
  position: relative;
  padding-top: 40px;
}

.results__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
}

.results__swipe-wrapper {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
}

.results__swipe {
  display: block;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition-property: transform box-shadow;
  transition-timing-function: ease-in;
  transition-duration: 100ms;

  &--prev {
    background-image: url("../img/icon-swipe-prev.svg");
  }

  &--next {
    background-image: url("../img/icon-swipe-next.svg");
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: $shadow-region-link-hover;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active {
    transform: scale(1);
    box-shadow: none;
  }
}

.result__pagination-list {
  @include reset-list;
}

.results__image {
  display: block;
  width: 100%;
  margin-bottom: 65px;
  // height: 178px;
  // object-fit: cover;
}

.results__paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.results__list {
  @include reset-list;
}

.results--no-js {
  .results__swipe {
    display: none;
  }

  .result__pagination-list {
    display: none;
  }

  .results__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .results__image {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .results {
    padding-top: 70px;
  }
}
