*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $text-basic;
  background-color: $background-basic;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $mobile-width-container;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 32px;
    max-width: $tablet-width-container;
  }

  .no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 120px;
    max-width: $desktop-width-container;
  }
}
