//Template Colors
// Text
$text-basic: #1a1a1a;
$text-neutral: #4d4d4d;
$text-accent: #c28767;

// Background

$background-basic: #ffffff;
$background-underlay: rgba(0, 0, 0, 0.5);

// Border

$border-basic: #e8c4b0;
$border-dim: #efe4da;

// Shadow

$shadow-region-link: 0 5px 20px rgba(198, 141, 110, 0.11);
$shadow-region-link-hover: 0 3px 15px rgba(198, 141, 110, 0.08);

//Template containers
$mobile-width-container: 700px;
$tablet-width-container: 1100px;
$desktop-width-container: 1440px;

//Template breakpoints
$tablet-width: 900px;
$desktop-width: 1440px;
$tv-width: 1920px;

//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
