//Template Colors

// Text
$light-text-basic: #000000;
$dark-text-basic: #ffffff;

$light-text-positive: #20a936;
$dark-text-positive: #76cd84;

$light-text-negative: #e22424;
$dark-text-negative: #f97c7c;

// Background
$light-background-basic: #ffffff;
$dark-background-basic: #141415;

$light-background-search: #f5f5f5;
$dark-background-search: #323234;

$light-background-card: #ffffff;
$dark-background-card: #323234;

$light-background-positive: #2abd42;
$dark-background-positive: #63a16d;

$light-background-negative: #e22424;;
$dark-background-negative: #f97c7c;

// Elements
$light-interactive: #0872ed;
$dark-interactive: #2f89f3;


//Template containers
$mobile-width-container: 540px;
$tablet-width-container: 790px;
$laptop-width-container: 1100px;
$desktop-width-container: 1220px;

//Template breakpoints
$mobile-width: 540px;
$tablet-width: 760px;
$laptop-width: 1100px;
$desktop-width: 1440px;

//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

